<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Zalgonator - {{ title }}</title>
    {% else %}
    <title>Zalgonator</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zalgo.css') }}">
</head>
<body>
    <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>