{% extends "base.html" %}

{% block content %}
    <h2>Enter text:</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.textarea.label }}<br/>
            {{ form.textarea }}
        </p>
        <p>
            {{ form.rng_check.label }} {{ form.rng_check }}
            {{ form.rng_range_low.label }} {{ form.rng_range_low }} {{ form.rng_range_high.label }} {{ form.rng_range_high }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <h2>Result:</h2>
    {% if zalgotext %}
    <div>
        {{ zalgotext }}
    </div>
    {% endif %}
{% endblock %}