{% extends "base.html" %}

{% block content %}
    <h2>Enter text:</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.textarea.label }}<br/>
            {{ form.textarea }}
        </div>
        <div>
            {{ form.rng_select.label }} {{ form.rng_select }} {{ form.bold_select.label }} {{ form.bold_select }}
        </div>
        <div>
            {{ form.rng_range_low.label }} {{ form.rng_range_low }} {{ form.rng_range_high.label }} {{ form.rng_range_high }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <h2>Result:</h2>
    {% if zalgotext %}
    <div class="zoutput">
        {{ zalgotext | safe }}
    </div>
    {% endif %}
{% endblock %}